<form class="needs-validation was-validated" novalidate="">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="tituloFilme">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Titulo</font>
        </font>
      </label>

      <input
        type="text"
        class="form-control"
        id="tituloFilme"
        placeholder=""
        value=""
        required=""
      />

      <div class="invalid-feedback">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            Titulo válido é obrigatório.
          </font>
        </font>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="generoFilme">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Gênero</font>
        </font>
      </label>

      <input
        type="text"
        class="form-control"
        id="generoFilme"
        placeholder=""
        value=""
        required=""
      />

      <div class="invalid-feedback">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            O gênero válido é obrigatório.
          </font>
        </font>
      </div>
    </div>
  </div>
</form>
