<div>
  <footer class="bg-dark text-center text-lg-start text-white">
    <div class="container p-4">
      <div class="row mt-4 justify-content-around">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-2">Veja outros filmes</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"
                ><i class="fas fa-fw fa-sm me-2"></i>Mais vistos</a
              >
            </li>
            <li>
              <a href="#!" class="text-white"
                ><i class="fas fa-fw fa-sm me-2"></i>Todos os filmes</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-2">Pedidos</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"
                ><i class="fas fa-at fa-fw fa-sm me-2"></i>Compre seu ingresso
                aqui</a
              >
            </li>
            <li>
              <a href="#!" class="text-white"
                ><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Verifique
                o seu pedido</a
              >
            </li>
            <li>
              <a href="#!" class="text-white"
                ><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Outros...</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright
    </div>
  </footer>
</div>
